@import "normalize.css" ;



:root {
  --theme-rouge: #fd341f;
  --theme-blanc-transparent: rgba(255, 176, 176, 0.6);
  --theme-bleu-pale: rgb(202, 200, 200);
  --theme-bleu-fonce: rgb(155, 155, 155);
  --theme-vert: #408450;
  --theme-blanc: white;
  --theme-noir: black;

  
}
.titre{
  width: 50%;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 3;
}
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:50%; top:0px;}
  50%   {background-color:red; left:0px; top:0px;}
  75%  {background-color:yellow; left:50%; top:0px;}
  100%   {background-color:red; left:0px; top:0px;}
}

html {
  font-size:20px;
}

#liste-epicerie {
  list-style-type:none;
}

.liste-epicerie-item {
  color: white;
  font-size: 1.5rem;
  text-transform : capitalize;
  text-decoration:none;
}

#liste-epicerie li {
  position:relative;
  display:block;
  margin-bottom:0.25rem;
  background-color:var(--theme-blanc-transparent);
  padding:0.25rem;
  padding-left:1.50rem;
  box-shadow: 2px 2px var(--theme-blanc);
}

#liste-epicerie li::before {
   content:"";
   text-align:center;
   color:var(--theme-noir);
   font-size:1.25rem;
   position:absolute;
   top:0.1rem;
   left:0.25rem;
   height:1rem;
   width:1rem;



}

fieldset {
  color:white;
  border-color: white;
  background-color: rgba(255, 73, 73, 0.6);
}

input[type="text"],
textarea {
  display:block;
  width:100%;
  border:none;
  color: white;
  background-color:var(--theme-blanc-transparent);
}

#page-chargement-application{
  position:relative;
  height:100vh;
  background-image:url(illustration/pngwing.com.png);
  background-repeat:no-repeat;
  background-size:contain;
  background-position:bottom center;
  background-attachment:fixed;

  text-align:center;
  font-size:1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:normal;
  line-height:1.8rem;

  padding:10%;
  color:var(--theme-blanc);
  text-shadow: 2px 2px var(--theme-noir);
  animation: pulse 1.5s infinite;
  animation-direction: alternate;
}

@keyframes pulse {
  0% {
    background-color:rgb(235, 133, 85);
  }
  100% {
    background-color:rgb(255, 30, 0);
  }
}



.page {
  position:relative;
  background-color: red;
  background-image: linear-gradient(to bottom right, red, yellow);
  padding:5%;
  min-height: 100vh;
  box-sizing: border-box;

  background-repeat:no-repeat;
  background-size:cover;
  background-position:right bottom;
  background-attachment:fixed;
  background-size: 50%;
  color:white;
}


.page h1{
  text-align:center;
  font-size:2rem;
  font-weight:normal;
  line-height:1.8rem;
  color: white;
  text-shadow: 2px 2px var(--theme-noir);

}

.page h2,
.page p {
  background-color:var(--theme-blanc-transparent);
  border:0px transparent solid;
  padding:0.25rem;
}


.action{
  position:relative;
  display:block;
  text-decoration: none;
  font-family:sans-serif;
  background-color:#a30000;
  color:var(--theme-blanc);
  border:0px transparent solid;
  padding:0.25rem;
  font-size:1rem;
  text-align:center;
  width:50%;
  margin:0 auto;
  box-sizing: border-box;
  margin-top:0.25rem;
  margin-bottom:0.25rem;
  box-shadow: 2px 2px var(--theme-blanc);
  border-radius: 0.5rem;
}

.action:active {
  border:0px transparent solid;
}

.article
{
  margin-top: 5%;
}
